@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
 
*{
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  font-family: 'Bad Script', cursive;
  text-decoration: none;
  font-size: large;

   }

   body, html {
    background-image: url(img/background.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow-y: ;
  }

  .socials p{
    margin: 2em;
    text-align: center;
  }
  .socials div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
  }

  .socials div *{
    margin: 0.5em;
  }